altgraph==0.17.2
APScheduler==3.6.3
auto-py-to-exe==2.18.0
bottle==0.12.19
bottle-websocket==0.2.9
cachetools==4.2.2
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
docopt==0.6.2
Eel==0.12.4
Flask==2.0.3
future==0.18.2
gevent==21.12.0
gevent-websocket==0.10.1
greenlet==1.1.2
idna==3.3
itsdangerous==2.1.1
Jinja2==3.0.3
MarkupSafe==2.1.1
pefile==2021.9.3
pipreqs==0.4.11
psycopg2==2.9.3
pycparser==2.21
pyinstaller==4.10
pyinstaller-hooks-contrib==2022.2
python-telegram-bot==13.11
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
pywin32-ctypes==0.2.0
requests==2.27.1
six==1.16.0
tornado==6.1
tzdata==2022.1
tzlocal==4.1
urllib3==1.26.9
Werkzeug==2.0.3
whichcraft==0.6.1
yarg==0.1.9
zope.event==4.5.0
zope.interface==5.4.0
